<div class="sticky px-4 top-0 left-0 h-16 w-screen bg-gray-200 shadow-lg">
  <div class="max-w-xl flex flex-row">
    <h1 class="flex items-center mx-5 text-xl text-blue-500 font-extrabold">
      Davide's Library
    </h1>
    <i class="icons-wrapper" onclick="filterBooks(null)"
      ><span class="material-icons">home</span></i
    >
    <i class="icons-wrapper" onclick="filterBooks('IT')"
      ><span class="material-icons">computer</span></i
    >
    <i class="icons-wrapper"><span class="material-icons">psychology</span></i>
    <i class="icons-wrapper"
      ><span class="material-icons">monetization_on</span></i
    >
    <i class="icons-wrapper"><span class="material-icons">more</span></i>
  </div>
</div>
