<div class="sticky px-4 top-0 left-0 h-16 w-screen bg-gray-200 shadow-lg z-10">
  <div class="max-w-xl flex flex-row">
    <h1 class="flex items-center mx-5 text-xl text-blue-500 font-extrabold">
      Davide's Library
    </h1>
    <i class="icons-wrapper" (click)="filterBooks('all')"
      ><span class="material-icons">home</span></i
    >
    <i class="icons-wrapper" (click)="filterBooks(['📊 IT'])"
      ><span class="material-icons">computer</span></i
    >
    <i class="icons-wrapper"
      ><span class="material-icons" (click)="filterBooks(['🧠 Psicologia'])"
        >psychology</span
      ></i
    >
    <i class="icons-wrapper"
      ><span class="material-icons" (click)="filterBooks(['💰 Economy'])"
        >monetization_on</span
      ></i
    >
    <i class="icons-wrapper"
      ><span class="material-icons" (click)="filterBooks('other')"
        >more</span
      ></i
    >
  </div>
</div>
