<div
  class="sticky top-0 left-0 h-12 md:h-16 w-screen bg-gray-200 shadow-lg z-10"
>
  <div class="max-w-xl flex flex-row">
    <h1
      class="flex items-center mx-5 md:text-xl text-sm text-blue-500 font-extrabold"
    >
      Davide's Library
    </h1>
    <i
      class="icons-wrapper"
      (click)="filterBooks('all')"
      [class.icons-selected]="selectedIcon === 'all'"
      ><span class="material-icons" [tooltip]="'Select all Books'"
        >home</span
      ></i
    >
    <i
      class="icons-wrapper"
      (click)="filterBooks(['📊 IT'])"
      [class.icons-selected]="selectedIcon === '📊 IT'"
      ><span class="material-icons" [tooltip]="'📊 IT Books'">computer</span></i
    >
    <i
      class="icons-wrapper"
      (click)="filterBooks(['🧠 Psychology'])"
      [class.icons-selected]="selectedIcon === '🧠 Psychology'"
      ><span class="material-icons" [tooltip]="'🧠 Psychology Books'"
        >psychology</span
      ></i
    >
    <i
      class="icons-wrapper"
      (click)="filterBooks(['💰 Economy'])"
      [class.icons-selected]="selectedIcon === '💰 Economy'"
      ><span class="material-icons" [tooltip]="'💰 Economy Books'"
        >monetization_on</span
      ></i
    >
    <i
      class="icons-wrapper"
      (click)="filterBooks('other')"
      [class.icons-selected]="selectedIcon === 'other'"
      ><span class="material-icons" [tooltip]="'Select other Books'"
        >more</span
      ></i
    >
  </div>
</div>
