<div class="flex flex-row">
  <app-sidebar></app-sidebar>

  <!-- if nothing is selected -->
  <div
    class="fixed top-1/3 left-1/3 w-3/6 h-96 shadow-xl bg-white rounded-lg overflow-hidden"
    *ngIf="!selectedBook"
  >
    <img
      src="../../assets/books.gif"
      alt="welcome to my library"
      width="100%"
    />
    <div
      class="absolute top-1/3 text-white text-center content-center align-middle px-10 py-4"
    >
      <div class="font-extrabold text-4xl uppercase">
        👋 Welcome to my personal Library! Please select a book in the sidebar
      </div>
      <div class="text-sm">
        Made by mutt0-ds with Angular 13 and Tailwind CSS
      </div>
    </div>
  </div>

  <!-- if a book is selected -->
  <div
    class="fixed top-1/3 left-1/3 w-3/6 shadow-xl"
    aTilt
    *ngIf="selectedBook"
  >
    <div class="flex bg-white rounded-lg overflow-hidden">
      <div class="w-1/3 bg-cover object-cover">
        <img class="object-cover h-96" [src]="selectedBook.cover" />
      </div>

      <div class="w-2/3 p-4">
        <!-- score -->
        <div class="flex item-center mt-2" *ngIf="selectedBook.score > 0">
          <svg
            class="w-5 h-5 fill-current text-yellow-500"
            viewBox="0 0 24 24"
            *ngFor="let r of [].constructor(selectedBook.score)"
          >
            <path
              d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
            />
          </svg>
          <svg
            class="w-5 h-5 fill-current text-gray-500"
            viewBox="0 0 24 24"
            *ngFor="let r of [].constructor(5 - selectedBook.score)"
          >
            <path
              d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
            />
          </svg>
        </div>
        <div
          class="text-sm inline-flex font-bold leading-sm uppercase p-2 mr-2 rounded-full shadow-sm"
          *ngFor="let tag of selectedBook.tags"
        >
          {{ tag }}
        </div>

        <!-- text -->
        <h1 class="text-gray-900 font-bold text-4xl pt-4">
          {{ selectedBook.name }}
        </h1>
        <h1 class="text-gray-700 font-semibold text-2xl">
          {{ selectedBook.author }}
        </h1>

        <p class="mt-2 text-gray-600 text-lg">
          {{ selectedBook.recap ? selectedBook.recap : "To read..." }}
        </p>

        <p
          class="absolute bottom-4 py-2 text-gray-600 text-sm"
          *ngIf="selectedBook.date"
        >
          Read on {{ selectedBook.date?.toISOString()?.substring(0, 10) }}
        </p>
        <div class="absolute bottom-4 right-4 flex item-end justify-between">
          <button
            (click)="openAmazonLink(selectedBook)"
            class="search-on-amazon"
          >
            Search on Amazon
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed bottom-4 right-0">
  <iframe
    src="https://ghbtns.com/github-btn.html?user=mutt0-ds&type=follow&count=false&size=small"
    frameborder="0"
    scrolling="0"
    width="170"
    height="20"
    title="GitHub"
  ></iframe>
</div>
