<div
  class="p-4 w-4/5 bg-white border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flow-root">
    <ul role="list">
      <li
        *ngFor="let b of books"
        class="py-3 sm:py-4 relative group rounded-md"
        (click)="onSelectBook(b)"
      >
        <div class="flex items-center space-x-4 hover:animate-wiggle">
          <div class="flex-shrink-0">
            <img
              class="w-8 h-10 shadow-md"
              src="{{ b.cover }}"
              alt="Cover Image"
            />
          </div>
          <div
            class="flex-1 min-w-0"
            [ngStyle]="{
              'text-decoration': b == selectedBook ? 'underline ' : null
            }"
          >
            <p
              class="text-sm font-medium text-gray-900 truncate dark:text-white"
            >
              {{ b.name }}
            </p>
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
              {{ b.author }}
            </p>
          </div>

          <div class="inline-flex items-center" *ngIf="b.date">
            <span class="material-icons text-green-500">check_circle</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
